{% extends "base.html" %}
{% block title %} Hello page {% endblock %}

{% block content %}
    {% if data.name == none and data.age == none %}
        <h1>Hello world !<h1>
    {% elif data.age == none %}
        <h1>Hello {{ data.name }}!<h1>
    {% elif data.email is none %}
        <h1>Hello {{ data.name }} tu edad es {{ data.age * 2}}!<h1>
    {% else %}
    <h2>My data</h2>
    <ul>
        <li>Name: {{ data.name }}</li>
        <li>Age: {{ data.age }}</li>
        <li>Email: {{ data.email }}</li>
    </ul>
    {% endif %}
{% endblock %}