<!DOCTYPE html>
<html>
    <head>
        <title>My web site - {% block title %}{% endblock %}</title>
        <!-- This is the reference to use style.css -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('hello') }}">Hello</a></li>
                <li><a href="{{ url_for('code', code = 'print(code)') }}">Code</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('register_wtf') }}">Register (wtf)</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
        <!-- This is for use js -->
        <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    </body>
</html>